h1 {
	border-bottom: 1px solid black;
	color: #161616;
	font: 400 40px/52px "old standard tt";
	text-transform: uppercase;
}

h5 {
	font: 400 18px/21px "old standard tt";
	color: color: #161616;
}

#page-wrapper {
	width: 950px;
	margin: 0 auto;
}

#map {
	width: 100%;
	height: 600px;
}

#footer-block {
	height: 100px;
}