h1 {
	border-bottom: 1px solid black;
	color: #161616;
	font: 400 35px/50px "old standard tt";
	text-transform: uppercase;
	margin-bottom: 7px;
}

#info {
	font: 400 18px/25px "old standard tt";
	color: color: #161616;
	margin-bottom: 2.5em;
}

#byline {
	margin-top: 0px;
	font: 400 14px/20px "old standard tt";
	font-style: italic;
}

#byline a {
	color: inherit;
	text-decoration: underline;
}

#byline a:hover {
	text-decoration: none;
}

#page-wrapper {
	width: 975px;
	margin: 0 auto;
}

#map {
	width: 100%;
	height: 600px;
	border: 1px solid #888788;
}

#footer-block {
	height: 200px;
	display: block;
}

#map-container {
	width: 100%;
}

/*Marker popup styling*/

.popup-wrapper {
	font-family: 'Georgia';
	overflow: hidden;
	width: 200px;
}

.left {
	float: left;
	width: 130px;
}

.right {
	float: right;
	width: 70px;
}

.leaflet-popup-content {
	margin: 8px 12px;
}

.restaurant-name {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 0px;
	width: 200px;
}

.address {
	font-size: 12px;
}

.owner {
	font-size: 11px

}

.violations_heading {
	font-size: 10px;
	margin-top: 12px;
	margin-bottom: 2px;
	text-transform: uppercase;
}

.violations_count {
	text-align: center;
	font-size: 24px;
	margin: 0px;
}

.violations_click_notice {
	font-size: 9px;
	color: #656565;
	text-align: center;
	margin: 2px 0;
}

/*Info box styling*/

#popup {
	width: 575px;
	height: 600px;
	background-color: #fff;
	z-index: 101;
	overflow: scroll;
	padding-right: 15px;
	position: absolute;
	float: right;
	border-top: 1px solid #888788;
	border-left: 1px solid #888788;
}

#popup h4 {
	font-weight: normal;
	text-decoration: underline;
	font-size: 18px;
}

#popup li {
	font-size: 12px;
	margin-top: .8em;
}

#popup p {
	margin: 0px;
	font-family: 'Georgia';
	font-size: 15px;
	line-height: 1.2em;
}

#popup .subtext {
	font-size:11px;
	font-weight: italic;
	color: #888788;
}

#overlay {
    position: absolute;
	width: 977px;
	height: 600px;
    background-color: #000;

    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 100;
}

/*Autocomplete*/

#search-field {
	font-size: 1.2em;
	font-family: 'Georgia';
	color: #161616;
	padding: 3px;
}

.ui-autocomplete {
	list-style-type: none;
	background-color: #fff;
	width: 175px;
	padding: 8px 13px;
}

.ui-menu-item {
	line-height: 1.5em;
}

.ui-helper-hidden-accessible { display:none; }


/*.search-field-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.search-field-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.search-field-selected { background: #f0f0f0; }
.search-field-suggestions strong { font-weight: normal; color: #3399ff; }

#search { display: block; width: 100%; text-align: center; margin-bottom: 35px; }

#search-field {
  width: 600px;
  height: 40px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 1.5em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#search-field:focus {
  color: #858585;
}*/