h1 {
	border-bottom: 1px solid black;
	color: #161616;
	font: 400 40px/54px "old standard tt";
	text-transform: uppercase;
	margin-bottom: 7px;
}

#info {
	font: 400 18px/25px "old standard tt";
	color: color: #161616;
}

#byline {
	margin-top: 0px;
	font: 400 14px/20px "old standard tt";
	font-style: italic;
}

#byline a {
	color: inherit;
	text-decoration: underline;
}

#byline a:hover {
	text-decoration: none;
}

#page-wrapper {
	width: 975px;
	margin: 0 auto;
}

#map {
	width: 100%;
	height: 600px;
}

#footer-block {
	height: 100px;
}

/*Popup styling*/

.popup-wrapper {
	font-family: 'Georgia';
	overflow: hidden;
	width: 200px;
}

.left {
	float: left;
	width: 130px;
}

.right {
	float: right;
	width: 70px;
}

.leaflet-popup-content {
	margin: 8px 12px;
}

.restaurant-name {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 0px;
	width: 200px;
}

.address {
	font-size: 12px;
}

.owner {
	font-size: 11px

}

.violations_heading {
	font-size: 10px;
	margin-top: 12px;
	margin-bottom: 2px;
	text-transform: uppercase;
}

.violations_count {
	text-align: center;
	font-size: 22px;
	margin: 0px;
}

/*Info box styling*/

